body .un {
	background: url("../images/pagedaccueil/accueiltitre.png") no-repeat; 
  	background-size: cover; /* version standardisée */
} 

@font-face { /* déclare nouv police sous le nom de Blight*/
	font-family:'GLight'; /* donne un nom */
    src: url("Graublau_light_italic.otf"); 

    font-family: 'Bthin';
    src: url("BreeThin.otf");

}

/**************************************Page d'accueil**************************************/
#texte1{
	font-size: 13pt;
	padding: 95% 0% 0% 45%; /* top right bottom left*/
	font-family: 'GLight';
}

#texte2{
	font-size: 11pt;
	padding-top: 8%;
	padding-left: 25%;
	font-family: 'GLight';
}

.chargement{
	padding-top: 10%;
	padding-left: 25%;
}

/**************************************Texte Averse**************************************/
#texteaverse{
	font-size: 9pt;
	margin-top: 10%;
	margin-left: 25%;
	font-family:'Bthin' ;
}

.averse1{
	margin: 35% 75% 40% 5%;
}