html, body {
    width:100vw;
} 
.page_wrapper{
    float:left;
    width:100%;
}
.p5 canvas{
    position:fixed;
    top:0;
    width:100vw; // viewport width
    height:100vh; // viewport height
}

#home .page_wrapper{
	background: url("../images/Pagedaccueil/accueiltitre.png") no-repeat; 
  	background-size: cover; /* version standardisée */
}

@font-face { /* déclare nouv police sous le nom de Blight*/
	font-family:'GLight'; /* donne un nom */
    src: url("Graublau_light_italic.otf"); 

    font-family: 'Bthin';
    src: url("BreeThin.otf");
    
    font-family:'AleoBold';
    src: url("AleoBold.otf");

}

/**************************************Page d'accueil**************************************/
#texte1{
	font-size: 13pt;
	padding: 95% 0% 0% 45%; /* top right bottom left*/
	font-family: 'GLight';
}

#texte2{
	font-size: 11pt;
	padding-top: 8%;
	padding-left: 25%;
	font-family: 'GLight';
}

.chargement{
	padding-top: 10%;
	padding-left: 25%;
}

/******Texte Averse******/
#texteaverse{
	font-size: 13pt;
    line-height: 17spt;
	margin-top: 20%;
	margin-left: 35%;
	font-family:'Bthin';
}

.averse1{
	margin: 40% 90s% 40% 0%;
    padding-top: 25%;
}

.averse2{
    margin: 0% 90s% 0% 0%;
 
}

/******Texte Coquelicot******/
#textecoquelicot{
    font-family: 'AleoBold';
    font-size: 60pt;
    margin:0% 10% 10% 15%;
}

.coquelicot1{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.coquelicot2{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.coquelicot3{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}