<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.esadorleans.arcenf.present" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Présent</name>
    <description>
        ARC Edition nouvelles formes - Application mobile bibliothèque
    </description>
    <author email="cleroy@esad-orleans.fr" href="http://esad-orleans.fr">
        Charlène Leroy 4DVG
    </author>
    <content src="home.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
